{% extends "layout.njk" %}
{% block  content %}
  <a href="/new">beans</a>
  <ul>
    {% for row in rows %}
        <li>
            {{ row | dump }}
        </li>
    {% endfor %}
</ul>
{% endblock %}