{% extends "layout.njk" %}

{% block  content %}
<h1>nord-väster-sjö-kust-artilleri-flyg-spanings-simulator-anläggnings-materiel-underhålls-uppföljnings-system-diskussions-inläggs-förberedelse-arbeten</h1>
<div class="sak">
    {% for row in rows %}
        <div class="beans">
            <div class="top">
                <h2>
                    {{ row.title }}
                </h2>
                <p class="username">
                    @{{ row.name }}
                </p>
            </div>
            <p>
                {{ row.content }}
            </p>
        </div>
    {% endfor %}
</div>
<a href="/new">beans</a>
{% endblock %}