<nav class="navbar">
    <div class="navbar2 container">
        <a class="logo" href="/"><img src="/image/dromedary_small.png" alt=""></a>
        <ul>
            <li><a href="/">bönor</a></li>
            <li><a href="/">bra</a></li>
            <li><a href="/sss">bänk</a></li>
            <li><a href="/">be</a></li>
            <li><a href="/bindex">bada</a></li>
        </ul>
    </div>
</nav>
